.tags {
  color: #0e83cd;
  display:        inline-block;
}

.tags a {
    font-size:      1rem;
    border-radius:  6px;
    border:         2px solid #25a1f0;
    cursor:         pointer;
    padding:        3px;
    margin:        1px;
}

.tags a:hover{
  color: #fff;
  text-decoration: none;
  background-color: #25a1f0;
}
